.example-spacer {
  flex: 1 1 auto;
}

mat-icon {
  font-size:x-large;
  padding: 1ex;
  color: #2d2f31;
}

a {
  color: #2d2f31;
}

span.userLoggedIn {
  color: #2d2f31;
}

.alert {
  color:#ff007f;
}

.background-alert {
  background-color:#ff007f;
}

mat-toolbar {
  background-color: #9f7ecc;
}

div.router-outlet
{
  background-color: #d0bde6;
}

div.fillin
{
  background-color: #efe9f7;
  width:100%;
  position:absolute;
  top:0px;
  height: 100%;
  z-index: -10;
}


