<mat-toolbar>
<mat-toolbar-row>
  <span class="userLoggedIn">{{nome}}</span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="logOut()" *ngIf="nome!==undefined"><mat-icon>logout</mat-icon></button>
</mat-toolbar-row>
<mat-toolbar-row>
<span class="example-spacer"></span>
<a [routerLink]="['/admin/corsi']" *ngIf="ruolo == 0 || ruolo == 2"><mat-icon>settings_applications</mat-icon></a>
<a [routerLink]="['/admin/utenti']" *ngIf="ruolo == 0 || ruolo == 2"><mat-icon>manage_accounts</mat-icon></a>
<a [routerLink]="['']"><mat-icon>edit_calendar</mat-icon></a>
<a [routerLink]="['/guida']" *ngIf="ruolo == 0 || ruolo == 2"><mat-icon>follow_the_signs</mat-icon></a>
<a [routerLink]="['/bacheca']" *ngIf="messaggi>0"><span matBadge="{{messaggi}}"><mat-icon>assignment</mat-icon></span></a>
<a [routerLink]="['/login']" *ngIf="nome===undefined"><mat-icon>login</mat-icon></a>
</mat-toolbar-row>
</mat-toolbar>

<div class="router-outlet">
<router-outlet></router-outlet>
</div>
<div class="router-outlet" style="height:100%">

</div>
<!--#efe9f7-->
