<h1>{{corso}}</h1>
<mat-form-field appearance="outline">
  <mat-label>Guida</mat-label>
  <mat-select #guida (valueChange)="controlloGuida($event)">
    <mat-option *ngFor="let u of guide$ | async " [value]="u.email">{{ u.nome }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Data</mat-label>
  <input matInput [matDatepicker]="picker" (dateInput)="controlloData($event)" [value]="data_effettiva">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker ></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Ore</mat-label>
  <input type="number" placeholder="Ore" matInput #ore (change)="controlloOre(ore)" [value]="data_effettiva.getHours()">
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Minuti</mat-label>
  <input type="number" placeholder="Minuti" matInput #minuti (change)="controlloMinuti(minuti)" [value]="data_effettiva.getMinutes()">
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Durata (Minuti)</mat-label>
  <input type="number" placeholder="Durata" matInput #durata (change)="controlloDurata(durata)" [value]="durata_colloquio">
</mat-form-field>

<button mat-button (click)="conferma()" [disabled]="inibito">OK</button>

<li style="background-color: #efe9f7">
  <ul *ngFor="let l of lista$ | async">
    {{nomeGuida(l.guida)}} [ {{l.inizio | date:'EE dd MMM H:mm'}} &RightArrowBar; {{l.fine | date:'EE dd MMM h:mm'}} ] {{l.occupato}}
    <button mat-icon-button (click)="cancellaSlot(l.id)"><mat-icon>delete</mat-icon></button>
  </ul>
</li>

