//rules_version = '2';
//service cloud.firestore {
//  match /databases/{database}/documents {
//    match /{document=**} {
//      allow read, write: if
//          request.time < timestamp.date(2022, 6, 23);
//    }
//  }
rules_version = '2';
service cloud.firestore {
  /// Function for determining Gestore, GuidaSmart o Amministratore
  match /databases/{database}/documents {

    //E' un Amministratore?
    function isManager() {
      return get(/databases/$(database)/documents/utenti/$(request.auth.token.email)).data.ruolo == 0;
    }
    //E' un Amministratore/Gestore/GuidaSmart?
    function isGestore() {
      return get(/databases/$(database)/documents/utenti/$(request.auth.token.email)).data.ruolo in [0,3,4];
    }
    //se sto cambiando il corso di cui sono gestore OK, altrimenti KO
    function isGestoreCorso() {
    	return get(/databases/$(database)/documents/utenti/$(request.auth.token.email)).data.ruolo in [0,3,4] &&
      resource.id == get(/databases/$(database)/documents/utenti/$(request.auth.token.email)).data.corso
    }
    //se sto facendo qualcosa sul mio corso o correlati del mio corso OK, altrimenti KO
    function controllaCorso() {
    	return resource.id == get(/databases/$(database)/documents/utenti/$(request.auth.token.email)).data.corso
    }
    //se sto prenotando il mio corso OK, altrimenti KO
    function prenotaSlotCorso() {
    	return resource.data.corso == get(/databases/$(database)/documents/utenti/$(request.auth.token.email)).data.corso
    }
    //la guida cambia il suo stato
    function cambioSemaforo() {
      return get(/databases/$(database)/documents/utenti/$(request.auth.token.email)).data.ruolo in [2,4] &&
        resource.data.corso == get(/databases/$(database)/documents/utenti/$(request.auth.token.email)).data.corso
    }
    function mioAccount() {
      return resource.id == request.auth.token.email;
    }

    //Regole per Utenti
    match /utenti/{utente=*} {
      allow create: if request.auth != null && (request.resource.data.ruolo == 1 || isGestoreCorso()) && request.resource.data.ruolo != 0;
      allow read : if request.auth != null;
      allow update : if request.auth != null && request.resource.data.ruolo != 0 && (isManager() || isGestore() || cambioSemaforo() || mioAccount());
    }
		//Regole per Agenda
    match /agenda/{doc=*} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && ( prenotaSlotCorso() || isGestore() );
    }

    //Lettura corsi aperta per autoisrizione
    match /corsi/{doc=*} {
      allow read: if request.auth != null;
      allow write : if request.auth != null && (isManager() || isGestoreCorso());
    }

    //Lettura signin per autoisrizione
    match /signinkey/{doc=*} {
      allow read: if true;
      allow write : if request.auth != null && isManager();
    }
    match /home/{doc=*} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (controllaCorso() && isGestoreCorso());
    }

    match /chat/{doc=*} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (controllaCorso() || isManager());
    }

  }
}
