<ng-container *ngIf="dataOK == true">

  <span *ngFor="let aggregazione_guida of slot_aggregati" style="display:inline-flex;padding-left: 2em;padding-top: 1em;padding-bottom: 1em;">
  <app-semaforo [guida]="aggregazione_guida.guida"></app-semaforo>
</span>

<mat-accordion multi="true">
  <ng-container *ngFor="let aggregazione_guida of slot_aggregati">
  <mat-expansion-panel>
    <mat-expansion-panel-header>{{
      prendiNomeGuida(aggregazione_guida.guida)
    }}</mat-expansion-panel-header>
    <div style="padding-left: 2em">
      <div *ngFor="let slot of aggregazione_guida.slots">
        <span>
          {{ slot.inizio | date: "EE dd MMM h:mm" }}
          &RightArrowBar;
          {{ slot.fine | date: "h:mm" }}</span
        >
        <button
          mat-icon-button
          (click)="prenota(slot)"
          *ngIf="statoSlot(slot.id) === ''"
        >
          <mat-icon>schedule</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="libera(slot)"
          *ngIf="statoSlot(slot.id) === myself.email"
        >
          <mat-icon>alarm_off</mat-icon>
        </button>
        <button
          mat-icon-button
          *ngIf="
            statoSlot(slot.id) !== myself.email && statoSlot(slot.id) !== ''
          "
        >
          <mat-icon></mat-icon>
        </button>
      </div>
    </div>
  </mat-expansion-panel>
  </ng-container>
</mat-accordion>

</ng-container>

<ng-container *ngIf="dataOK == false">LOADING</ng-container>
