<ng-container *ngIf="!registrazione && corso != ''">
  <div style="padding-left: 3rem;padding-right: 3rem;">
  <h2>Registrazione per {{ corso }}</h2>
  <p>Indica il tuo nome, l'email che userai per accedere e scegli una password.</p>
  </div>
  <div
    style="
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    "
  >
    <div
      style="
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
      "
    >
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput id="nome" #nome required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput id="email" #email required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput id="password" #password type="password" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ripeti Password</mat-label>
        <input matInput id="passwordx2" #passwordx2 type="password" required />
      </mat-form-field>

      <button
        mat-raised-button color="accent"
        (click)="
          onSubmit(email.value, password.value, passwordx2.value, nome.value)
        "
      >
        Registrati
      </button>
      <button
      mat-button
      (click)="
        backToLogin();
      "
    >
      Ritorna al Login
    </button>
      <div *ngIf="errorValidation" style="color:red; padding:2rem">Controllare i campi</div>
      <div *ngIf="passwordDiverse" style="color:red; padding:1rem">Le Password devono essere uguali</div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="registrazione">Registrazione in corso</ng-container>
