td {
  border-style:inset;
  border-width: 1px;
  background-color: #cec47c;
  padding: .72em;
  text-align: right;
}

td.eserciatante{
  border-radius: 10px;
  background-color: #cec47c;
  text-align: center;
}

@media (max-width: 600px) {
  .fabposition {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 120;
  }
}
