<span style="display: flex; flex-direction: row;">
  <span style="width: 10%;"></span>
  <span style="width: 80%;padding-top: 2rem;">Da questa pagina è possibile entrare nella piattaforma per Esercizi Spirituali e Convegni.<br/>
  L'accesso è esclusivamente ad invito via mail. Se non ci si fosse ancora registrati cliccare sul link.<br/>
  Dopo essersi registrati ed aver fatto login è possibile visitate la pagina di help <small><mat-icon>help</mat-icon></small> per una rapida guida all'utilizzo.<br/>
  Se state organizzando degli Esercizi Spirituali o un Convegno potete consultare <a [routerLink]="['/','help']">la pagina di help</a> per avere informazioni su come richiedere un accesso di gestione.</span>
  <span style="width: 10%;"></span>
</span>
<span style="padding-bottom: 2rem;"></span>"
<div
  style="
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  "
>
  <div
    style="
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
    "
  >
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput id="login" #login />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput id="password" #password type="password" (keyup.enter)="onSubmit(login.value, password.value)" />
    </mat-form-field>
    <div style="display: flex; flex-direction: row; align-items: center">
      <button mat-raised-button color="accent" (click)="onSubmit(login.value, password.value)">
        Login
      </button>
      <button mat-raised-button (click)="onReset(login.value)">
        Reset Password
      </button>
    </div>
    <div *ngIf="resetSent==true" style="padding-top:1rem;"><p style="color:red">Ti &egrave; stata inviata una mail. Controlla la mail e clicca sul link ricevuto.</p></div>
  </div>
</div>
